
.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

.section {
    height: 70vh;
    border-radius: 30px;
    background-color: antiquewhite;
    margin: 10px;
    padding: 70px 70px;
}

#add-btn {
    background-image: url("../assets/plus.svg");
    width: 20px;
    height: 20px;
    background-color: white;
}

.back-btn {
    margin-bottom: 40px;
}

.submit-btn {
    margin-top: 40px;
}
 
.due-date, form div{
    margin-bottom: 20px;
}

.priority-container, form [name="priority"] {
    margin-bottom: 10px;
}

.priority-container {
    margin-top: 20px;
}

input[type='text'] {
    width: 100%;
    height: 1em;
}

.one-task {
    display: flex;
    gap: 10px;
}

.one-task input[type='checkbox'], input[type='del-btn'] {
    flex: 0 0 auto;
}

.one-task input[type='text'] {
    flex: 1;
}

.submit-btn, .back-btn {
    background: none;
}

.add-tasks-btn, .del-btn, .edit-title-btn, .edit-des-btn {
    background: none;
    border: none;
}

textarea {
    width: 100%;
    height: 3em;
    min-height: 1em;
    max-height: 6em;
    resize: vertical;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li {
    width: 100%;
}

.add-btn-container {
    margin-bottom: 20px;
}

#all-projects {
    font-weight: bold;
}

#changing-the-title {
    margin: 20px;
}

#changing-the-des {
    margin: 10px;
}

.bd-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.edit-title-btn, .edit-des-btn, .add-tasks-btn {
    align-self: end;
}

.td-container {
    display: flex;
    flex-direction: column;
}

.add-task-container {
    display: flex;
    justify-content: end;
}

.del-btn {
    color: red;
}